<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    {{#title}}
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    {{/title}} {{^title}}
    <title>Idyll</title>
    <meta property="og:title" content="Idyll Project" />
    {{/title}}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/idyll_styles.css" />
  </head>
  <body>
    <div id="idyll-mount">{{{idyllContent}}}</div>
    <script src="static/js/jpeg.js"></script>
    <script src="static/idyll_index.js"></script>
  </body>
</html>
