.idyll-text-container img {
  /* border: 1px solid black; */
}
.idyll-text-container canvas {
  border: 1px solid black;
}
.idyll-text-container  {
    margin: 0 5em;
}

.image-editor-container {
  font-family: 'Graphik Web';
  background: #222;
  margin: 2em 0;
}

.image-editor-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 0.25em 0.5em;
}

.image-editor-header button {
  margin: 0;
  margin-left: 50px;
  padding: 0.5em 1em;
  transition: 0.25s;
}
.image-editor-header button:active {
  transform: scale(0.95);
  color: #c5c5c5;
}

.image-editor-header > * {
  flex: 1;
}
.image-editor-header > div:nth-of-type(1) {
  text-align: left;
}
.image-editor-header > div:nth-of-type(2) {
  text-align: center;
}
.image-editor-header > div:nth-of-type(3) {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.image-editor {
  display: flex;
  min-height: 400px;
}
.byte-editor {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ace-editor {
  flex-grow: 1;
  min-height: 200px;
}
.image-viewer {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-viewer canvas {
  max-width:100%;
  /* width: 100%;
  height: 100%; */
}

.replace-link {
  cursor:pointer;
  color: #4801FF;
  /* text-decoration: underline; */
  border-bottom: dotted 1px #4801FF;
}

.replace-link:hover {
color: #4801FF;
}

.reference {
  cursor:pointer;
  color: #222;
  text-decoration: underline;
}


.parametric-header-image img {
  left: -150px;
  width: 400px;
}



@media all and (max-width: 1000px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }
}


@media all and (max-width: 800px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }

  .image-editor {
    flex-direction: column;
  }
  .image-editor-header > div:nth-of-type(2) {
    line-height: 16px;
    font-size: 14px;
  }
  .image-editor-header > div:nth-of-type(3) {
    text-align: right;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
  .image-editor-header button {
    margin-left: 0;
  }

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.subsample-image {
  text-align: center;
}
.subsample-image p {
  margin-top:0px;
}

.subsample-image canvas {
  width: 200px;
}

.subsample-grid {
  background: none;
}

.subsample-controls {
  font-family: 'Graphik Web';
  font-size: 14px;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 2em;
}
.subsample-controls input {
  display: block;
  margin: 1em auto;
}

body.enabled {
  opacity: 1;
}
body.enabled .parametric-article-nav {
  opacity: 1;
}
body.enabled .idyll-text-container {
  opacity: 1;
}
body.enabled .article-header {
  opacity: 1;
}
body.enabled .parametric-article-dek {
  opacity: 1;
}
body.enabled .parametric-header-hed-text {
  opacity: 1;
}
body.enabled .hed-rotate {
  opacity: 1;
}

.parametric-tooltip {
  pointer-events: all;
}
